/MiscellaneousStuff/build/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
.classpath
.project
*.iml
.idea
.gradle
build/
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
*.o
*.so
.metadata