/MiscellaneousStuff/build/
/Android/*/*.apk
/Android/*/*.ap_
/Android/*/*.dex
/Android/*/*.class
/Android/*/bin/
/Android/*/gen/
/Android/*/local.properties
Thumbs.db
/Android/*/.classpath
/Android/*/.project
/Android/*/*.iml
/Android/*/.idea
/Android/*/proguard/
/Android/*/.gradle
/Android/*/build/
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
*.o
*.so
/Android/.metadata